
.login-form{
  width: 250px;
  height: 50%;
  border: 3px solid grey;
display: grid;
padding: 30px;
margin: 50px auto;
justify-content: start;
}
label{
  margin: 10px ;
}
input{
  margin: 10px;
}
button{
  width: 30%;
  margin-left: 40%;
}
.Dark{
  background-color: black;
  color: white;
}
.Light{
  background-color:white;
  color:  black;
}
